main {
  display: flex;
  justify-content: center;
}

#game-title {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
}

#game-canvas {
  width: min(1000px, calc(100lvh * 4/3 - 32px), 90vw);
  background-color: white;
  aspect-ratio: 4/3;
  border-radius: 5px;
  border: 2px solid;
  outline: none;
}

.sprite {
  display: none;
}

.icon {
  display: none;
}

#level-data {
  display: none;
}

header {
  position: absolute;
}
