/* Reset some default browser styles */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

/* Set the background color to black */
body {
    background-color: #000;
}

/* Style the header and navbar */
header {
    background-color: rgba(0, 0, 0, 0.7); /* Use a semi-transparent black for the navbar */
    color: #fff;
    padding: 10px 20px;
}

/* Add this style to make the main content take up the full screen */
main {
    padding: 20px;
    text-align: center;
}

.games-title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the game cards with a lighter black color */
.game-card {
    display: inline-block;
    width: calc(25% - 20px); /* 25% width for four cards per row with some spacing */
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Use a semi-transparent black for the game cards */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.game-card img {
    max-width: 100%;
    height: auto;
}

/* Center the game title inside the card */
.game-card h2 {
    text-align: center;
    margin: 10px 0;
    color: #fff; /* Set the text color to white for game titles */
}
