/* Reset some default browser styles */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the header and navbar */
header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Add this style to make the main content take up the full screen */
main {
    height: calc(100vh - 60px); /* Subtract the header height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-text {
    text-align: center;
}

.gif-text img {
    max-width: 100%;
    height: auto;
}

/* Center the text vertically */
.gif-text p {
    margin-top: 20px; /* Adjust this value for spacing */
}
